//Colors Proyect
$mainColor:rgba(150, 34, 36);
$secondaryColor: rgba(234, 226, 183);
$orange: rgb(182,83,52);
$blue: rgb(0, 48, 73);
$black: rgb(0, 0, 0);
$white: rgba(255, 255, 255, 0.8);
$white2:rgb(255,255,255);

//sizing
$w-100:100%;
$w-50:50%;
$w-25:25%;
