@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

$mainFont: 'Poppins', sans-serif;

//fontsize
$textSm:1.2em;
$textMd:1.6em;
$textXl:2em;

//fontweight
$textRegular:200;
$textLight:100;
$textBold:300;
$textEbold:800;

